{% extends 'index.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Products You've Purchased</h2>
  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{ url_for('static', filename='uploads/' + product.image_filename) }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5>{{ product.name }}</h5>
            <p>{{ product.description }}</p>

            {% if product.discount_percentage and product.discount_percentage > 0 %}
              <h6 class="text-primary">GH₵{{ '%.2f' % product.discounted_price }}</h6>
            {% else %}
              <h6 class="text-primary">GH₵{{ '%.2f' % product.price }}</h6>
            {% endif %}

            <a href="{{ url_for('main.product_detail', product_id=product.id) }}" class="btn btn-outline-primary btn-sm">Rate Product</a>
          </div>
        </div>
      </div>
    {% else %}
      <p>You haven't purchased any products yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
